In [1]:

import numpy as np
import pandas as pd

In [2]:

credits_df = pd.read_csv("credits.csv")
movies_df = pd.read_csv("movies.csv")

In [3]:
movies_df = movies_df.merge(credits_df , on = 'title')

In [4]:
movies_df = movies_df[['movie_id', 'title','overview','genres' , 'keywords' , 'cast' , 'crew']]

In [5]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
import ast

In [7]:
def convert_and_append_names(obj):
    try:
        literal_object = ast.literal_eval(obj)
        if isinstance(literal_object, list):
            names = [item.get('name', '') for item in literal_object]
            return names
    except (SyntaxError, ValueError):
        return []

In [8]:
movies_df['genres'] = movies_df['genres'].apply(convert_and_append_names)
movies_df['keywords'] = movies_df['keywords'].apply(convert_and_append_names)

In [9]:
def convert3(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter +=1
        else:
            break
        return L

In [10]:
movies_df['cast'] = movies_df['cast'].apply(convert3)

In [11]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
def director(obj):
    try:
        literal_object = ast.literal_eval(obj)
        if isinstance(literal_object, list):
            names = [item.get('name') for item in literal_object if item.get('job') == 'Director']
            return names
    except (SyntaxError, ValueError):
        return []

In [14]:
movies_df['crew'] = movies_df['crew'].apply(director)

In [15]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],[Andrew Stanton]

In [16]:
movies_df['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [17]:
movies_df['overview'] = movies_df['overview'].str.split()

In [18]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],[Andrew Stanton]

In [19]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],[Andrew Stanton]

In [20]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: ', '.join(x))

In [21]:
movies_df['genres'] = movies_df['genres'].str.replace(' ', '')

In [22]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","[culture clash, future, space war, space colon...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],[Andrew Stanton]

In [23]:
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: ', '.join(x))

In [24]:
movies_df['keywords'] = movies_df['keywords'].str.replace(' ', '')

In [25]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","cultureclash,future,spacewar,spacecolony,socie...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","ocean,drugabuse,exoticisland,eastindiatradingc...",[Johnny Depp],[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","spy,basedonnovel,secretagent,sequel,mi6,britis...",[Daniel Craig],[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","dccomics,crimefighter,terrorist,secretidentity...",[Christian Bale],[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","basedonnovel,mars,medallion,spacetravel,prince...",[Taylor Kitsch],[Andrew Stanton]

In [26]:
movies_df['crew'] = movies_df['crew'].apply(lambda x: ', '.join(x))

In [27]:
movies_df['crew'] = movies_df['crew'].str.replace(' ', '')

In [28]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","cultureclash,future,spacewar,spacecolony,socie...",[Sam Worthington],JamesCameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","ocean,drugabuse,exoticisland,eastindiatradingc...",[Johnny Depp],GoreVerbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","spy,basedonnovel,secretagent,sequel,mi6,britis...",[Daniel Craig],SamMendes
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","dccomics,crimefighter,terrorist,secretidentity...",[Christian Bale],ChristopherNolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","basedonnovel,mars,medallion,spacetravel,prince...",[Taylor Kitsch],AndrewStanton

In [29]:
movies_df['cast'] = movies_df['cast'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [30]:
movies_df['cast'] = movies_df['cast'].str.replace(' ', '')

In [31]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","cultureclash,future,spacewar,spacecolony,socie...",SamWorthington,JamesCameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","ocean,drugabuse,exoticisland,eastindiatradingc...",JohnnyDepp,GoreVerbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","spy,basedonnovel,secretagent,sequel,mi6,britis...",DanielCraig,SamMendes
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","dccomics,crimefighter,terrorist,secretidentity...",ChristianBale,ChristopherNolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","basedonnovel,mars,medallion,spacetravel,prince...",TaylorKitsch,AndrewStanton

In [32]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
movies_df['cast'] = movies_df['cast'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
movies_df['crew'] = movies_df['crew'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [33]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","cultureclash,future,spacewar,spacecolony,socie...",SamWorthington,JamesCameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","ocean,drugabuse,exoticisland,eastindiatradingc...",JohnnyDepp,GoreVerbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","spy,basedonnovel,secretagent,sequel,mi6,britis...",DanielCraig,SamMendes
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","dccomics,crimefighter,terrorist,secretidentity...",ChristianBale,ChristopherNolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","basedonnovel,mars,medallion,spacetravel,prince...",TaylorKitsch,AndrewStanton

In [34]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
movies_df['cast'] = movies_df['cast'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
movies_df['crew'] = movies_df['crew'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [35]:
movies_df['tags'] = (
    movies_df['cast'].astype(str) + ', ' +
    movies_df['crew'].astype(str) + ', ' +
    movies_df['keywords'].astype(str) + ', ' +
    movies_df['overview'].astype(str)
)

In [36]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","cultureclash,future,spacewar,spacecolony,socie...",SamWorthington,JamesCameron,"SamWorthington, JamesCameron, cultureclash,fut..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","ocean,drugabuse,exoticisland,eastindiatradingc...",JohnnyDepp,GoreVerbinski,"JohnnyDepp, GoreVerbinski, ocean,drugabuse,exo..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","spy,basedonnovel,secretagent,sequel,mi6,britis...",DanielCraig,SamMendes,"DanielCraig, SamMendes, spy,basedonnovel,secre..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","dccomics,crimefighter,terrorist,secretidentity...",ChristianBale,ChristopherNolan,"ChristianBale, ChristopherNolan, dccomics,crim..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","basedonnovel,mars,medallion,spacetravel,prince...",TaylorKitsch,AndrewStanton,"TaylorKitsch, AndrewStanton, basedonnovel,mars..."

In [37]:
new_df = movies_df[['movie_id','title','tags']]

In [38]:
new_df

,movie_id,title,tags
0,19995,Avatar,"SamWorthington, JamesCameron, cultureclash,fut..."
1,285,Pirates of the Caribbean: At World's End,"JohnnyDepp, GoreVerbinski, ocean,drugabuse,exo..."
2,206647,Spectre,"DanielCraig, SamMendes, spy,basedonnovel,secre..."
3,49026,The Dark Knight Rises,"ChristianBale, ChristopherNolan, dccomics,crim..."
4,49529,John Carter,"TaylorKitsch, AndrewStanton, basedonnovel,mars..."
...,...,...,...
4803,9367,El Mariachi,"CarlosGallardo, RobertRodriguez, unitedstates–..."
4804,72766,Newlyweds,"EdwardBurns, EdwardBurns, , ['A', 'newlywed', ..."
4805,231617,"Signed, Sealed, Delivered","EricMabius, ScottSmith, date,loveatfirstsight,..."
4806,126186,Shanghai Calling,"DanielHenney, DanielHsia, , ['When', 'ambitiou..."
4807,25975,My Date with Drew,"DrewBarrymore, BrianHerzlinger,JonGunn,BrettWi..."

In [39]:
new_df['tags'] = new_df['tags'].str.lower()

C:\Users\user\AppData\Local\Temp\ipykernel_26208\1033922434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.lower()

In [40]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"samworthington, jamescameron, cultureclash,fut..."
1,285,Pirates of the Caribbean: At World's End,"johnnydepp, goreverbinski, ocean,drugabuse,exo..."
2,206647,Spectre,"danielcraig, sammendes, spy,basedonnovel,secre..."
3,49026,The Dark Knight Rises,"christianbale, christophernolan, dccomics,crim..."
4,49529,John Carter,"taylorkitsch, andrewstanton, basedonnovel,mars..."

In [41]:
new_df['tags'] = new_df['tags'].str.replace(r'\[|\]', '', regex=True)

C:\Users\user\AppData\Local\Temp\ipykernel_26208\3445191077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.replace(r'\[|\]', '', regex=True)

In [42]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"samworthington, jamescameron, cultureclash,fut..."
1,285,Pirates of the Caribbean: At World's End,"johnnydepp, goreverbinski, ocean,drugabuse,exo..."
2,206647,Spectre,"danielcraig, sammendes, spy,basedonnovel,secre..."
3,49026,The Dark Knight Rises,"christianbale, christophernolan, dccomics,crim..."
4,49529,John Carter,"taylorkitsch, andrewstanton, basedonnovel,mars..."

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words='english')

In [47]:
cv.fit_transform(new_df['tags']).toarray().shape

In [51]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [52]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [57]:
feature_names= cv.get_feature_names_out()

In [58]:
len(feature_names)

5000

In [59]:
import nltk

In [61]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [62]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [63]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\user\AppData\Local\Temp\ipykernel_26208\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
cosine_similarity(vectors)

array([[1.        , 0.        , 0.        , ..., 0.        , 0.02795085,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02969569, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.02916059, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02969569, 0.02916059, ..., 1.        , 0.048795  ,
        0.05073463],
       [0.02795085, 0.        , 0.        , ..., 0.048795  , 1.        ,
        0.05198752],
       [0.        , 0.        , 0.        , ..., 0.05073463, 0.05198752,
        1.        ]])

In [67]:
cosine_similarity(vectors).shape

(4808, 4808)

In [68]:
similarity = cosine_similarity (vectors)

In [69]:
similarity[0]

array([1.        , 0.        , 0.        , ..., 0.        , 0.02795085,
       0.        ])

In [70]:
similarity[0].shape

(4808,)

In [81]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse = True , key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]]['title'])

In [85]:
recommend('Iron Man')

Iron Man 2
Iron Man 3
Avengers: Age of Ultron
The Avengers
Ant-Man